body {
    background-color: #e0e0e0;
}

h1 {
    letter-spacing:2px;
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size:16px;
    font-weight:bold;
}
strong{
    color:#2393df;
}

footer{
    margin-top: 10px;
    text-align:center;
    font-size:14px;
    color:#595959;
}

section{
    background-color:white ;
    padding: 10px;
}

ul{
    list-style-type:square ;
}

#buy{
    background-color: #687373;
    margin-top: 10px;
    color:#fcfcfc ;
}

input[type="number"]{
    padding: 2px;
    text-align: center;
    width: 50px;
}

input[type="button"]{
    background-color: #2493df;
    font: bold 16px white;
    border: none;
    
}
table{
    border-collapse: collapse;
    font-weight: white;
}

th {
    background-color: #2493df;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}